.auction-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 2rem;
    border-radius: 10px;
    border: 1px solid #000000; 
    width: 83%;
}

img{
    width: 60%
}

.auction-card h3 {
    color: blueviolet;
    font-size: 4rem;
    margin: 1rem;
}

h5 {
    color: rgb(35, 2, 66);
    font-size: 2.5rem;
    margin: 0.5rem;
}

